.todo-controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.control label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}
.control input,
.control select {
  font: inherit;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid lightgreen;
  width: 30rem;
}

.actions button {
  background-color: rgb(208, 60, 90);
  border: 1 px solid white;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 5px;
  color: white;
  margin-right: 10rem;
}
